<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALL Users</title>
</head>
<body>
<h2>All Users</h2>

<div th:each="user : ${users}">

    <a th:href="@{/admin/show(id=${user.id})}"
       th:text="${user.username}">user</a>
<p> </p>


    <p> </p>

</div>

<hr/>

<a th:href="@{/admin/new}">Create new user</a>

<br/><br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>
