<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'User ' + ${user.id}">User</title>
</head>
<body>

<p th:text="'Имя: ' + ${user.username}">VALUE</p>
<p th:text="'Номер ID: '+ ${user.id}">VALUE</p>
<p th:text="'Возраст: '+ ${user.age}">VALUE</p>
<p th:text="'Email: '+  ${user.email}">VALUE</p>
<li th:each="role : ${user.roles}" th:text="${role.name}">ROLE</li>
<p></p>


<a th:href="@{/admin/edit(id=${user.id})}">Редактировать</a>

<p></p>


<form th:action="@{/admin/delete(id=${user.id})}" method="post">
    <input type="submit" value="Удалить"/>
    <p></p>
</form>

<a th:href="@{/admin}">Назад</a>

<br/><br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>
